<div class="profile-header-container" [ngClass]="{'profile-header-container-my-page':headerType === 'profile'}">
  @if (profile(); as profile) {
    @if (profile.avatarUrl) {
      <img [src]="profile.avatarUrl | imgUrl" alt="" class="header-avatar" [ngClass]="{'header-avatar-profile':headerType === 'profile'}"/>
    } @else {
      <img
        src="/assets/imgs/user-default.png"
        alt="img"
        class="header-avatar"
        [ngClass]="{'header-avatar-profile':headerType === 'profile'}"
      />
    }
    <div class="username-and-name" [ngClass]="{'username-and-name-my-page':headerType === 'profile'}">
      <h1 class="h4 mb-4 username"><span>{{ profile.firstName }}</span> <span>{{ profile.lastName }}</span></h1>
      <span class="regular">{{ profile.username }}</span>
    </div>
  }

</div>
