<div class="avatar-container-image-box">
  @if (avatarUrl) {
    <img [src]="avatarUrl" alt="" class="avatar-container-image"/>
  } @else {
    <img
      [src]="preview()"
      alt="img"
      class="avatar-container-image"
    />
  }
  <div dnd class="avatar-download-box" (click)="fileDrop.click()" (fileDropped)="onFileDroped($event)">
    <svg icon="cloud-arrow-up" class="cloud-arrow-up"></svg>
    <p>Перетащите изображение или <span>Загрузите</span> (разрешение до 5,000 x 5,000 px)</p>
    <input tabindex="-1" type="file" class="avatar-input" #fileDrop (change)="fileBrouserHandler($event)">
  </div>
</div>
