<div class="profile-card">
  <div class="avatar-name">
    <img
      [src]="imgUrl + profile?.avatarUrl"
      alt="avatart"
      class="profile-card-avatar"
    />
    <div class="profile-card-name">
      <strong class="h6"
        >{{ profile?.firstName }} {{ profile?.lastName }}</strong
      >
      <p class="subtitle">{{ profile?.username }}</p>
    </div>
  </div>
  <div class="profile-card-description">
    {{ profile?.description }}
  </div>
  <div class="profile-card-tags">
    @for (tag of profile?.stack; track tag) {
    <div class="skill-tag">{{ tag }}</div>
    }
  </div>
  <div class="profile-card-action-btns">
    <div class="user-check">
      <img src="/assets/icons/user-check.svg" alt="user-check" />
    </div>
    <button class="btn">
      <span>Написать</span><img src="/assets/icons/airplan.svg" alt="airplan" />
    </button>
    <div class="arrow-right-up">
      <img src="/assets/icons/arrow-right-up.svg" alt="arrow-right-up" />
    </div>
  </div>
</div>
