<div class="profile-card">
  <div class="avatar-name">
    <img src="/assets/img.png" alt="avatart" class="profile-card-avatar" />
    <div class="profile-card-name">
      <strong>Райан Гослинг</strong>
      <p>ryan.gosling</p>
    </div>
  </div>
  <div class="profile-card-description">
    Список навыков, который мы обсудили выше, — основа резюме,
    но не единственная его часть. Также можно рассказать о себе в классическом
    смысле — этот раздел можно добавить в сопроводительное письмо.
  </div>
  <div class="profile-card-tags">
    <div class="skill-tag-active">JS</div>
    <div class="skill-tag-active">CSS</div>
    <div class="skill-tag">HTML</div>
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">Frontend</div>
    <div class="skill-tag">Frontend</div>
    <div class="skill-tag">Frontend</div>
  </div>
  <div class="profile-card-action-btns">
    <div class="user-check">
      <img src="/assets/icons/user-check.svg" alt="user-check" />
    </div>
    <button class="btn">
      <span>Написать</span><img src="/assets/icons/airplan.svg" alt="airplan" />
    </button>
    <div class="arrow-right-up">
      <img src="/assets/icons/arrow-right-up.svg" alt="arrow-right-up" />
    </div>
  </div>
</div>
