<img
  src="/assets/svg/Logo-Tik-Talk.svg"
  alt="Logo-Tik-Talk"
  class="ml-16 mb-20"
/>

<nav>
  <ul class="main-menu-list">
    <li>
      @for (menuItem of menuItems; track menuItem.label) {
      <button class="menu-item">
        <svg [icon]="menuItem.icon"></svg>
        <span>{{ menuItem.label }}</span>
      </button>
      }
    </li>
  </ul>
</nav>

<p class="medium-text mb-20">Подписчики</p>

<app-subscriber-card></app-subscriber-card>

<div class="mt-20 to-subscribers">
  <a [routerLink]="['/subscribers']" class="to-subscribers-link medium-text"
    >Все подписчики</a
  >
  <svg icon="arrow" class="to-subscribers-icon"></svg>
</div>
