:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dark-color);
  padding: 20px 12px;
}

.main-menu-list {
  display: grid;
  grid-gap: 8px;
  list-style: none;
}

.menu-item {
  padding: 16px 12px;
  cursor: pointer;
  border: none;
  background: none;
  border-radius: 2px;
  width: 100%;
  color: #fff;
  display: grid;
  grid-template-columns: 16px 1fr max-content;
  grid-gap: 12px;
  align-items: center;
  &:hover,
  &:focus-visible {
    background: var(--dark-hover-color);
    color: var(--primary-color);
  }

  & > svg {
    width: 16px;
    height: 16px;
  }
  & > span {
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    text-align: start;
  }
}

.to-subscribers {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.to-subscribers-link {
  color: var(--primary-color);
  text-decoration: none;
}

.to-subscribers-icon {
  width: 18px;
  height: 18px;
  color: var(--primary-color);
}

.sidebar-footer {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  background-color: #161616;
  justify-content: space-between;
  > a > svg {
    width: 14px;
    height: 14px;
    color: var(--primary-color);
  }
}

.sidebar-footer-image-login-block {
  display: flex;
  gap: 12px;
  align-items: center;
}

.sidebar-footer-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.sidebar-footer-login {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: var(--primary-color);
}
