
.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.border-bottom-dashed {
  border-bottom: 1px dashed white;
}

.skill-title {
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 16px;
}

.description-container {
}

.description-title {
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.description {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.edit-button {
  display: flex;
  text-decoration: none;
  align-items: center;
  width: 174px;
  height: 44px;
  margin-right: 142px;
  border-radius: 2px;
  background-color: var(--primary-color);
  padding: 10px 20px;
  gap: 8px;
  border: none;
  cursor: pointer;
  > span {
    color: var(--dark-color);
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
  }
  > svg {
    width: 16px;
    height: 16px;
    color: var(--dark-color);
  }
}
