@if (profile$ | async; as profile) {
  <div>
    <app-profile-header [profile]="profile"></app-profile-header>
    <div class="border-bottom-dashed mt-32 mb-32"></div>
    <div class="mb-32">
      <span class="skill-title">Навыки</span>
      {{ profile.stack }}
      <div class="skills-container">
        @for (skill of stacks; track skill) {
          <span class="skill-tag">{{ skill }}</span>
        }
      </div>
    </div>
    <div class="description-container">
      <div class="description-title mb-16">О себе</div>
      <div class="description">
        {{
          profile.description
            ? profile.description
            : "Список навыков, который мы обсудили выше, — основа резюме, но не единственная его часть. Также можно рассказать о себе в классическом смысле — этот раздел можно добавить в сопроводительное письмо."
        }}
      </div>
    </div>
  </div>


  <div class="right-profile-contatiner">
    <form class="right-profile-contatiner-form" [formGroup]="profileForm">
      <div class="input-box">
        <label class="custom-input-label">Имя</label>
        <input
          placeholder="Введите данные"
          formControlName="firstName"
          class="custom-input"
        />
      </div>
      <div class="input-box">
        <label class="custom-input-label">Фамилия</label>
        <input
          placeholder="Введите данные"
          formControlName="lastName"
          class="custom-input"
        />
      </div>
      <div style="grid-column: span 2" class="input-box">
        <label class="custom-input-label">Telegram username</label>
        <input
          placeholder="Введите данные"
          formControlName="username"
          class="custom-input"
        />
      </div>
      <div class="about-me">
        <div class="input-box">
          <label class="custom-input-label">О себе</label>
          <textarea
            placeholder="Введите данные"
            formControlName="aboutMe"
            class="custom-input"></textarea>
        </div>
      </div>
      <div class="avatar-container">
        <span class="avatar-container-title">Аватарка</span>
        <div class="avatar-container-image-box">
          @if (profile.avatarUrl) {
            <img [src]="profile.avatarUrl | imgUrl" alt="" class="avatar-container-image"/>
          } @else {
            <img
              src="/assets/imgs/user-default.png"
              alt="img"
              class="avatar-container-image"
            />
          }
          <div class="avatar-download-box">
            <svg icon="cloud-arrow-up" class="cloud-arrow-up"></svg>
            <p>Перетащите изображение или <span>Загрузите</span> (разрешение до 5,000 x 5,000 px)</p>
          </div>
        </div>
      </div>
      <div style="grid-column: span 2; position: relative;" class="input-box">
        <label class="custom-input-label">Навыки</label>
        <input
          placeholder="Введите данные"
          formControlName="firstName"
          class="custom-input"
        />
        <svg icon="search" class="search-icon-svg"></svg>
      </div>
    </form>
    <div class="bottom-tab">
      <div class="bottom-tab-item">
        <span>
          <svg icon="trash"></svg>
        </span>
        <span>
          <svg icon="exit"></svg>
        </span>
      </div>
      <div class="bottom-tab-item">
        <button class="btn-secondary">Отменить</button>
        <button class="btn-primary">Сохранить</button>
      </div>
    </div>

  </div>
}

