:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100dvh;
  grid-gap: 20%;
  align-items: center;
  margin: 0 5%;
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  > label {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
  }
  > input {
    padding: 12px 20px;
    background-color: var(--dark-color);
    border: 1px solid #fff;
    color: var(--light-color);
    border-radius: 4px;
  }
  > img {
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
  }
}

.form-btn {
  background-color: var(--primary-color);
  padding: 10px 20px;
  color: var(--dark-color);
  border-radius: 2px;
  text-align: center;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  border: none;
}
