<form action="" class="login-gorm" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1 class="h1 mb-60">Вход</h1>
  <div class="input-container mb-16">
    <label for="username">Telegram username</label>
    <input
      id="username"
      type="text"
      placeholder="Введите логин"
      formControlName="username"
    />
    <img
      src="/assets/icons/telegram-icon.svg"
      alt="telegram-icon"
      class="icon"
    />
  </div>
  <div class="input-container mb-32">
    <label for="password">Пароль</label>
    <input
      id="password"
      type="text"
      placeholder="Введите пароль"
      formControlName="password"
    />
    <img src="/assets/icons/eve-outline.svg" alt="eve-outline" class="icon" />
  </div>
  <button class="form-btn btn-shadow" type="submit">Войти</button>
</form>
<img src="/assets/icons/tik-talk-big-icon.svg" alt="tik-talk-big-icon" />
