/* You can add global styles to this file, and also import other style files */
@import "fonts.scss";
@import "margins.scss";

:root {
  --dark-color: #000000;
  --light-color: #ffffff;
  --primary-color: #ae7aff;
  --gray-color: #5f646d;
  --dark-hover-color: #161616;
  --green-primary-color: #98E9AB
}

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "JetBrains Mono", "sans-serif";
  background-color: var(--dark-color);
  color: var(--light-color);
  height: 100dvh;
  background-image: url("/assets/imgs/background.jpg");
  background-size: cover;
}

.skill-tag {
  padding: 4px 8px;
  border: 1px solid #fff;
  border-radius: 2px;
  width: fit-content;
  height: fit-content;
}

.skill-tag-active {
  padding: 4px 8px;
  border: 1px solid #ae7aff;
  border-radius: 2px;
  height: fit-content;
  width: fit-content;
  color: #ae7aff;
}

.btn {
  border: none;
  background-color: var(--primary-color);
  padding: 10px 20px;
  color: var(--dark-color);
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 700;
  height: 44px;
}

.btn-shadow {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    bottom: -4px;
    right: -4px;
    background: var(--gray-color);
  }
}

.h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 800;
}

.h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
}

.h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.subtitle {
  font-size: 14px;
  line-height: 20px;
}

.regular {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

//input styles

.input-box {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 4px;
}

.custom-input-label {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #FFFFFFBF
}

.custom-input {
  padding: 12px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #fff;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
}

// =================================
